# USE THE PREFIX "VITE_" TO EXPOSE THEMç


# estos son los valores por defecto. Se puede simplemente copiar y pegar en .env para hacer la demostracion.
VITE_CLIENT_URL=http://localhost:4173
VITE_AUTH_URL=http://localhost:3000/api/auth
VITE_API_URL=http://localhost:3000/api
VITE_API_BASE_URL=http://localhost:3000/