@import "tailwindcss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
#root {
  overflow-x: hidden;
  width: 100%;
  min-height: 100dvh;
  background-color: var(--color-secondary-bg);
  color: #f2f2f2;
}

@theme {
  --color-primary-bg: #0F0F0F;
  --color-secondary-bg: #212121;

  --color-primary: #8774E1;
  --color-danger: #D33431;

}