## BETTER AUTH - LIBRERIA AUXILIAR PARA LA AUTENTICACIÓN Y SESIONES.
# SECRETO PARA HASHEAR Y ENCRYPTAR LOS DATOS DE AUTENTICACIÓN.
BETTER_AUTH_SECRET=********

BETTER_AUTH_URL=http://localhost:3000 

# RESEND
RESEND_API_KEY=******


# GOOGLE OAuth CREDENTIALS
GOOGLE_CLIENT_SECRET=*****
GOOGLE_CLIENT_ID=*****



DATABASE_URL=postgresql://*********************

# Por defecto es 4173 para vite.
CLIENT_URL=http://localhost:4173